body {
	background-image: url('../images/store.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 800px;
}

.supermarketsweep {
	background-color: #040468;
	height: 125px;
	background-repeat: no-repeat;
}

.supermarketsweep img {
	height: 125px;
	width: 200px;
	margin-left: 100px;
	float: left;
}

.supermarketsweep #timerbox {
	float: right;
	height: 125px;
	width: 350px;
	margin-right: 100px;
	background-color: #040468;

}

#timerbox #time {
	color: white;
	font-family: Lora;
	letter-spacing: 0.04em;
	font-size: 36px;
	padding: 4px;
	text-align: center;
}

#time #minutes {
	font-size: 46px;
	padding: 5px;
}

#time #seconds {
	font-size: 36px;
	padding: 5px;
}

#timerbox #startstop, #timerbox #resettimer {
	font-size: 20px;
	font-family: Lora;
	color: white;
	background-color: #FF3400;
	box-shadow: 0 4px #6565AC;
	border-radius: 3px;
	border: none;
	height: 35px;
	width: 125px;
	text-align: center;
	line-height: 35px;
	display: inline-block;
}

#timerbox #startstop {
	float: left;
	margin-left: 40px;
}

#timerbox #resettimer {
	float: right;
	margin-right: 40px;
}

#startstop span, #resettimer span {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

#timerbox #startstop:hover, #timerbox #resettimer:hover, input[type="submit"]:hover {
	background-color: #FFAA44;
	color: black;
	cursor: pointer;
}

#timerbox #startstop:active, #timerbox #resettimer:active, input[type="submit"]:active {
	box-shadow: 0 2px #040468;
	background-color: #FFAA44;
	color: black;
	transform: translateY(2px);
}

.title {
	display: block;
	height: 65px;
	background-color: #6565AC;
	color: white;
	font-family: "Lora";
	font-size: 48px;
	text-align: center;
}

.main {
	display: flex;
	height: 1000px;
}

.itementer {
	order: 1;
	width: 50%;
	font-size: 26px;
	font-family: "Roboto";
	padding: 20px;
}

.itemlist {
	order: 2;
	width: 50%;
}

input[type="text"] {
	background-color: transparent;
	box-shadow: none;
	border: 0;
	border-bottom: solid 2px black;
	text-align: center;
}

input[type="submit"] {
	font-size: 28px;
	font-family: Lora;
	color: white;
	background-color: #FF3400;
	box-shadow: 0 5px #6565AC;
	border-radius: 3px;
	border: none;
}

.itemstitle {
	font-family: "Roboto";
	font-size: 20px;
	float: left;
	padding: 20px;
}

.items {
	font-size: 18px;
	font-family: "Roboto";
	list-style-type: none;
	clear: left;
	margin-left: 10px;
}

.items li span{
	font-size: 26px;
}
.items li {
	padding: 10px;
}

.items li > img {
	margin-left: 30px;
	margin-right: 15px;
}

.checked {
	text-decoration-line: line-through;
	color: gray;
}

.cancel:hover, .cart:hover {
	cursor: pointer;
}